.logo img {width:100%;}

.sidebar[data-color="teal"]:after, body > .navbar-collapse[data-color="teal"]:after {

    background: #02AC9A;
    background: -moz-linear-gradient(top, #02AC9A 0%, #55D5AE 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #02AC9A), color-stop(100%, #55D5AE));
    background: -webkit-linear-gradient(top, #02AC9A 0%, #55D5AE 100%);
    background: -o-linear-gradient(top, #02AC9A 0%, #55D5AE 100%);
    background: -ms-linear-gradient(top, #02AC9A 0%, #55D5AE 100%);
    background: linear-gradient(to bottom, #02AC9A 0%, #55D5AE 100%);
    background-size: 150% 150%;

}

.missions img{
	width:100%;
	
	
}

/*.missions {border:1px solid #e5e5e5; padding:20px;}*/

.calendar_images { max-width: 400px !important; height: auto !important;}

.imgpreview {max-width: 100%;

	height: 290px;
	width: 290px;
	background-size: cover;
	background-repeat: no-repeat;
}

input.upload-input {
	cursor: pointer;
}

.inline_class{
	display: inline !important;
}

.inline_class p{
	display: inline !important;
}

#omlfiledrag{
    font-weight: bold;
    text-align: center;
	text-transform:uppercase;
    padding: 0;
    margin-top: 1em;
    color: #fff;
    height: 50px;
    width: 100%; 
}
#omlfiledrag label.file_title {
    height: 50px;
	background-color:#3cbca9;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    -webkit-animation: animatedBackground 40s linear infinite;
    animation: animatedBackground 40s linear infinite;
	cursor: pointer;
    border: 2px solid #fff;
    border-radius: 7px;
	line-height: 46px;
}

#omlfiledrag label.file_title:hover{
	background-color:#299A83;
    color: #fff;
}

.socialscheduling td {vertical-align:top !important;}

.stepy-header li div, .stepy-step legend, .stepy-header li span {    font-family: "Roboto","Helvetica Neue",Arial,sans-serif !important;}

.stepy-header li.stepy-active div, .stepy-step legend {color:#13bfb1 !important;}

#loading_div{
	width: 70px;
	height: 70px;
	background-color: transparent;
	background:url("/planet_animation.gif") no-repeat;
	background-repeat: no-repeat;
	display: inline-block !important;
}

.missions h4 {
	text-align:center;
}

.cssload-loader{
	display: inline;
	position:absolute;
	height:3em;width:3em;
	left:50%;
	margin-top:-2em;
	margin-left:-2em;
	background-color:rgb(51,136,153);
	border-radius:2.5em 2.5em 2.5em 2.5em;
		-o-border-radius:2.5em 2.5em 2.5em 2.5em;
		-ms-border-radius:2.5em 2.5em 2.5em 2.5em;
		-webkit-border-radius:2.5em 2.5em 2.5em 2.5em;
		-moz-border-radius:2.5em 2.5em 2.5em 2.5em;
	box-shadow:inset 0 0 0 0.5em rgb(250,250,250);
		-o-box-shadow:inset 0 0 0 0.5em rgb(250,250,250);
		-ms-box-shadow:inset 0 0 0 0.5em rgb(250,250,250);
		-webkit-box-shadow:inset 0 0 0 0.5em rgb(250,250,250);
		-moz-box-shadow:inset 0 0 0 0.5em rgb(250,250,250);
	background: linear-gradient(-45deg, rgb(60,188,169), rgb(60,188,169) 50%, rgb(2,172,155) 50%, rgb(2,172,155));
		background: -o-linear-gradient(-45deg, rgb(60,188,169), rgb(60,188,169) 50%, rgb(2,172,155) 50%, rgb(2,172,155));
		background: -ms-linear-gradient(-45deg, rgb(60,188,169), rgb(60,188,169) 50%, rgb(2,172,155) 50%, rgb(2,172,155));
		background: -webkit-linear-gradient(-45deg, rgb(60,188,169), rgb(60,188,169) 50%, rgb(2,172,155) 50%, rgb(2,172,155));
		background: -moz-linear-gradient(-45deg, rgb(60,188,169), rgb(60,188,169) 50%, rgb(2,172,155) 50%, rgb(2,172,155));
	background-blend-mode: multiply;
	border-top:5px solid rgb(60,188,169);
	border-left:5px solid rgb(60,188,169);
	border-bottom:5px solid rgb(2,172,155);
	border-right:5px solid rgb(2,172,155);
	animation:cssload-roto 1.15s infinite linear;
		-o-animation:cssload-roto 1.15s infinite linear;
		-ms-animation:cssload-roto 1.15s infinite linear;
		-webkit-animation:cssload-roto 1.15s infinite linear;
		-moz-animation:cssload-roto 1.15s infinite linear;
}


@keyframes cssload-roto {
	0%{transform:rotateZ(0deg);}
	100%{transform:rotateZ(360deg);}
}

@-o-keyframes cssload-roto {
	0%{-o-transform:rotateZ(0deg);}
	100%{-o-transform:rotateZ(360deg);}
}

@-ms-keyframes cssload-roto {
	0%{-ms-transform:rotateZ(0deg);}
	100%{-ms-transform:rotateZ(360deg);}
}

@-webkit-keyframes cssload-roto {
	0%{-webkit-transform:rotateZ(0deg);}
	100%{-webkit-transform:rotateZ(360deg);}
}

@-moz-keyframes cssload-roto {
	0%{-moz-transform:rotateZ(0deg);}
	100%{-moz-transform:rotateZ(360deg);}
}


body {
	
}

.imagen-item {
	width: 100px;
    height: 100px;
    background-size: cover;
    border: 3px solid #fff;
    border-radius: 5px;
	background-color: #feb242;
}
.imagen-item span {
	background-color: rgba(0,0,0,0.5);
    width: 100%;
    position: relative;
	color: #ffffff;
    padding: 5px 18px;
    top: 65%;
}

.displayImages {
	
	padding: 5px;
}

.displayImages li {
	list-style-type:none;
	display:inline;
	float: left;
	margin: 0 10px 10px 0;
}

.btnDelete {
    right: 0;
    top: 0;
    position: absolute;
    background: red;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    /* font-size: 12pt; */
    padding-top: 1px;
}

.steps{
	bottom-left-radius: 50%;
	border-bottom-right-radius:50%;
	background-color: red;
}

.circle {
	border-radius: 50%;
	width: 200px;
	height: 200px; 
	background-color: red;
	display: inline-block !important;
	/* width and height can be anything, as long as they're equal */
}

.circlep{
width:150px;
height:150px;
border-radius:50%;

line-height:150px;
text-align:center;
/*background: #1E9E90;  54d4ad*/
background: #e7e7e7;
}

.circlep a{
	color:#fff !important;
}


.nav-pills.nav-wizard > li {
  position: relative;
  overflow: visible;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}
.nav-pills.nav-wizard > li + li {
  margin-left:0;
}
.nav-pills.nav-wizard > li:first-child {
  border-left: 0;
}
.nav-pills.nav-wizard > li:first-child a {
  border-radius: 5px 0 0 5px;
}
.nav-pills.nav-wizard > li:last-child {
  border-right: 0;
}
.nav-pills.nav-wizard > li:last-child a {
  border-radius: 0 5px 5px 0;
}
.nav-pills.nav-wizard > li a {
  border-radius: 0;
  background-color: #eee;
}
.nav-pills.nav-wizard > li .nav-arrow {
  position: absolute;
  top: 0px;
  right: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #eee;
  z-index: 150;
}
.nav-pills.nav-wizard > li .nav-wedge {
  position: absolute;
  top: 0px;
  left: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: #eee #eee #eee transparent;
  z-index: 150;
}
.nav-pills.nav-wizard > li:hover .nav-arrow {
  border-color: transparent transparent transparent #aaa;
}
.nav-pills.nav-wizard > li:hover .nav-wedge {
  border-color: #aaa #aaa #aaa transparent;
}
.nav-pills.nav-wizard > li:hover a {
  background-color: #aaa;
  color: #fff;
}
.nav-pills.nav-wizard > li.active .nav-arrow {
  border-color: transparent transparent transparent #54d4ad;
}
.nav-pills.nav-wizard > li.active .nav-wedge {
  border-color: #54d4ad #54d4ad #54d4ad transparent;
}
.nav-pills.nav-wizard > li.active a {
  background-color: #54d4ad;
}


